*{
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    margin: 0;
}

.background{
    height: 80vh;
    width: 200vw;
    background-image: url("images/background-day2.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.pipes{
    display: flex;
    flex-direction: column;
}

#pipes{
    display: none;
}

.pipes-holder{
    display: flex;
}

.pipe{
    width: 12vh;
    margin-top: 26vh;
    left: 100px;
    top: -187vh;
    position: relative;
    z-index: 2;
}

.pipe-up{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ground{
    height: 20vh;
    width: 300vw;
    background-image: url("images/base.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
    z-index: 3;
}

.bird{
    width: 7vh;
    position: relative;
    left: 30vw;
    top: -60vh;
    z-index: 4;
}