*{
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
}

.background{
    height: 80vh;
    width: 200vw;
    background-image: url("images/background-day2.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;

    z-index: 1;
}

.pipe{
    width: 5vh;
    position: relative;
    left: 30vw;
    top: -50vh;
    z-index: 2;
}

.ground{
    height: 20vh;
    width: 200vw;
    background-image: url("images/base.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
    z-index: 3;
}

.bird{
    width: 5vh;
    position: relative;
    left: 30vw;
    top: -50vh;
    z-index: 4;
}